<mat-toolbar color="accent">
  Child Routes Example
</mat-toolbar>

<div>
  <div>
    <mat-card>
      <mat-card-content>
        <mat-list>
          <mat-list-item [routerLink]="['/examples/child', 'payroll']">
            Payroll
          </mat-list-item>
          <mat-list-item [routerLink]="['/examples/child', 'vacation']">
            Vacation
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
