
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <span *ngIf="currentCourse?.id; else elseBlock">
                    {{currentCourse.title | titlecase}}
                </span>
                <ng-template #elseBlock>Select a Course</ng-template>
            </mat-card-title>
        </mat-card-header>
        <form #form="ngForm" (submit)="save.emit(currentCourse)">
          <mat-card-content>
          
          <!-- COURSE FORM -->
              <mat-form-field class="full-width">
                <input
                matInput
                placeholder="Title"
                [(ngModel)]="currentCourse.title"
                name="title" 
                required
                type="text">
              </mat-form-field>

              <mat-form-field class="full-width">
                <textarea
                matInput
                placeholder="Description"
                [(ngModel)]="currentCourse.description"
                name="description" 
                required
                type="text"></textarea>
              </mat-form-field>

              <section class="full-width">
                <h4>{{currentCourse.percentComplete}}% Complete</h4>
                <mat-slider 
                class="full-width" 
                min="0" 
                max="100"
                thumbLabel
                name="percentComplete"
                [(ngModel)]="currentCourse.percentComplete" >
                </mat-slider>
              </section>

              <section class="full-width">
                <mat-checkbox [(ngModel)]="currentCourse.favorite" name="favorite">
                  Favorite
                </mat-checkbox>
              </section>
          </mat-card-content>
          <mat-card-actions>

          <!-- COURSE ACTIONS -->
              <button type="submit" [disabled]="form.invalid" mat-button color="primary">Save</button>
              <button type="button" mat-button (click)="cancelled.emit()">Cancel</button>"

          </mat-card-actions>
        </form>
        <hr>
        <pre>{{form.value | json}}</pre>
        <pre>{{form.valid | json}}</pre>
    </mat-card>
